$base-color: #0eb7e6;


:root {
    --primaryColor:#0eb7e6;
    --dangerColor:#14171c ;
    --fontFamily: 'Open Sans', sans-serif;
    --headingFontFamily: 'Raleway', sans-serif;
    --heraBlueColor: #0eb7e6;
    --aareRiverColor: --primaryColor;
    --blackColor: #260944;
    --paragraphColor: #5b5b98;
    --whiteColor: #ffffff;
    --fontSize: 15px;
    --transition: .5s;
    --borderBoxShadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --borderWhiteBoxShadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
    --blueDarkColor: #434B5B;
    --cianTeggiumColor: #6EE1EB;
    --metlifeColor: #15c4d3;
}
