<div [class.dark-theme]="themeService.isDark()" [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()" [class.rtl-enabled]="themeService.isRTLEnabled()">
    <app-sidebar></app-sidebar>
    <div class="main-content d-flex flex-column justify-content-between " [ngClass]="{'active': isToggled}"
        [class.right-sidebar]="themeService.isRightSidebar()" [class.hide-sidebar]="themeService.isHideSidebar()">
        <div [class.acordion-metlife]="!themeService.isAccordionDark()">
            <app-navbar></app-navbar>
            <router-outlet></router-outlet>
        </div>
        <div class="d-flex justify-content-center p-4">
            Presto powered by Teggium | All rights reserved | © 2023 Teggium
        </div>
    </div>
    
</div>