<app-share-breadcrumb [breadcrumbs]="breadcrumbs"></app-share-breadcrumb>
<mat-card class="mb-25 teggium-card">
     <mat-card-header>
          <h5 class="teggium-titulo">  {{ "administracion.configuracion-aseguradora.titlePlural" | translate }}</h5>
          <a class="btn btn-primary" routerLink="/administracion/configuracion-aseguradora/crear">Nuevo</a>
     </mat-card-header>
     <mat-card-content>
          <div class="">
               <mat-table 
               (matSortChange)="sortChange($event)" 
               matSortDisableClear
               matSort
               matSortActive="aseguradora"
               matSortDirection="asc"
               [dataSource]="dataSource" >
                    <ng-container matColumnDef="paisDescripcion">
                         <mat-header-cell *matHeaderCellDef> {{ "administracion.configuracion-aseguradora.table.pais" | translate }}</mat-header-cell>
                         <mat-cell *matCellDef="let row" [ngClass]="{
                             'border-normal': !row?.estatus,
                             'border-active': row?.estatus === 1, 
                             'border-inactive': row?.estatus === 0, }">
                              <div class="col-country">
                                   <img src="assets/images/catalogs/countries/{{row.paisIcon}}" alt="icon_flag">
                                   {{row.paisDescripcion}}
                              </div>
                         </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="proyecto">
                         <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "administracion.configuracion-aseguradora.table.proyecto" | translate }}</mat-header-cell>
                         <mat-cell *matCellDef="let row">{{row.codigo}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="aseguradora">
                         <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "administracion.configuracion-aseguradora.table.aseguradora" | translate }}</mat-header-cell>
                         <mat-cell *matCellDef="let row">{{row.aseguradoraNombreComercial}}</mat-cell>
                    </ng-container>
                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                         <mat-header-cell *matHeaderCellDef class="col-action">Acciones</mat-header-cell>
                         <mat-cell *matCellDef="let row" class="col-action">
                              <button type="button" mat-button
                                   class="position-relative dot-btn p-0 bg-transparent border-none"
                                   [matMenuTriggerFor]="actionMenu">
                                   <i class="ri-more-fill"></i>
                              </button>
                              <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                                   <button mat-menu-item type="button" 
                                        routerLink="/administracion/configuracion-aseguradora/actualizar/{{row._id}}" 
                                        class="bg-transparent border-none position-relative">
                                        <i class="ri-edit-line"></i>Editar
                                   </button>
                                   <button mat-menu-item type="button" 
                                        routerLink="/administracion/configuracion-aseguradora/ver/{{row._id}}" 
                                        class="bg-transparent border-none position-relative">
                                        <i class="ri-eye-line"></i>Ver
                                   </button>
                              </mat-menu>
                         </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                    <tr class="row-empty" *matNoDataRow>
                         <td class="mat-cell" colspan="4">No hay información para mostrar.</td>
                     </tr>
               </mat-table>

               <!-- <mat-paginator [hidden]="dataSource.data.length === 0" [pageSizeOptions]="itemsPorPage" showFirstLastButtons></mat-paginator> -->

               <mat-paginator
               [length]="length"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="itemsPorPage"
               (page)="onChangePage($event)"
               showFirstLastButtons
             ></mat-paginator>
          </div>
     </mat-card-content>
</mat-card>