<app-share-breadcrumb [breadcrumbs]="breadcrumbs"></app-share-breadcrumb>
<mat-card class="mb-25 teggium-card" *ngIf="folio">
    <mat-card-header>
        <div class="teggium-titulo-encabezado">
            <h5 class="teggium-titulo">
            Contacto aseguradora<span *ngIf="readonlyModule" class="title-readonlyModule"
            >Modo consulta</span>
            </h5>
            <app-fnz-encabezado [folio]="folio.folio"></app-fnz-encabezado>
            <!-- <app-kyc-flujo-consulta
            *ngIf="readonlyModule"
            [currentActividad]="currentActividad"
            [currenActividadEstatus]="currenActividadEstatus"
            [folio]="folio.folio"
            [folioMultisistema]="folio.folioMultisistema"
          ></app-kyc-flujo-consulta> -->
        </div>
    </mat-card-header>
    <mat-card-content>

        <section id="contactoTel">
            <div>
                <form [formGroup]="frmContactoAseguradora" autocomplete="false">
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Contacto Correspondencia</mat-label>
                                <input matInput formControlName="nombre">
                                <mat-error> Obligatorio </mat-error>
                              </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Tipo contacto</mat-label>
                                <mat-select placeholder="Tipo contacto" formControlName="tipo">
                                  <mat-option *ngFor="let contacto of catalogos?.tipoContacto" [value]="contacto.clave">
                                    {{contacto.descripcion}}
                                  </mat-option>
                                </mat-select>
                                <mat-error> Obligatorio </mat-error>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <mat-form-field class="w-100"  appearance="outline" floatLabel="always">
                                <mat-label>Correo electrónico</mat-label>
                                    <mat-chip-grid #chipGrid formControlName="emailCorrespondencia">
                                    <mat-chip color="primary" *ngFor="let correo of correos" (removed)="remove(correo)">
                                        {{correo.name}}
                                        <button matChipRemove [attr.aria-label]="'remove ' + correo.name">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                    <input 
                                        matinput
                                        placeholder="ejemplo@dominio.com" 
                                        [matChipInputFor]="chipGrid"
                                        [matChipInputAddOnBlur]="true"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        (matChipInputTokenEnd)="add($event)" />
                                </mat-chip-grid>
                                <mat-error *ngIf="chipGrid.errorState"></mat-error>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-12">
                            <mat-label>Para agregar más de un correo electrónico escriba uno válido y presione enter.</mat-label>
                          </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="text-end" *ngIf="!readonlyModule">
                                <button type="button" class="btn btn-secondary" (click)="modalOpen=true">
                                  <span>Agregar Teléfono </span>
                                  <!-- <mat-icon style="font-weight: 900;font-size: 29px;">add</mat-icon> -->
                                </button>
                            </div>
                        </div>
                    </div>

                    <app-fnz-info-telefono-correspondencia 
                    (itemChanged)="onItemChanged($event)"
                    (modalOpenChanged)="onModalOpenChanged($event)" 
                    [lstTelefonosCorrespondecia]="lstTelefonosCorrespondecia"
                    [modoConsulta]="readonlyModule"
                    >
                   </app-fnz-info-telefono-correspondencia>

                    <app-fnz-modal-telefono-correspondencia *ngIf="modalOpen" [title]="'Teléfonos del contacto'"
                    (closeModal)="closeModal($event)" [itemTelefonoCorrespondencia]="itemTelefonoCorrespondencia"></app-fnz-modal-telefono-correspondencia>

                    <div class="row text-end mt-5">
                        <div class="col-12">
                          <button type="button" class="btn btn-danger mx-1" (click)="cancelar()">Cancelar</button>
                          <button type="submit" class="btn btn-primary" (click)="continue()" *ngIf="!readonlyModule">Continuar</button>
                        </div>  
                    </div>
                </form>
            </div>


        </section>
    </mat-card-content>
</mat-card>