<app-share-breadcrumb [breadcrumbs]="breadcrumbs"></app-share-breadcrumb>

<mat-card class="mb-25 teggium-card">
    <mat-card-header>
        <h5 class="teggium-titulo">Aseguradoras</h5>
        <a class="btn btn-primary" routerLink="crear">Nuevo</a>
    </mat-card-header>
    <mat-card-content>
        <mat-table 
        (matSortChange)="sortChange($event)" 
        mat-table 
        matSort 
        matSortDisableClear 
        matSortActive="nombreComercial"
        matSortDirection="asc"
        [dataSource]="dataSource">
            <ng-container matColumnDef="pais">
                <mat-header-cell *matHeaderCellDef>País</mat-header-cell>
                <mat-cell *matCellDef="let row" [ngClass]="{
                    'border-active': row?.estatus === 'Activo', 
                    'border-inactive': row?.estatus == 'Inactivo' }">
                    <div class="col-country">
                        <img src="assets/images/catalogs/countries/{{row.icon}}" alt="icon_flag">
                        {{row.pais}}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombreComercial">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre comercial</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.nombreComercial}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="altaProyecto">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Alta proyecto</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.altaProyectoShow}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="documentos">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Documentos</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.documentosShow}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <div class="{{row.estatus == 'Activo' ? 'tag-active': 'tag-inactive'}}">
                        {{row.estatus}}
                    </div>
                </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="col-action">Acciones</mat-header-cell>
                <mat-cell *matCellDef="let row" class="col-action">
                    <button type="button" mat-button
                        class="position-relative dot-btn p-0 bg-transparent border-none"
                        [matMenuTriggerFor]="actionMenu">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                        <button routerLink="../aseguradoras/actualizar/{{row._id}}" mat-menu-item type="button" class="bg-transparent border-none position-relative">
                            <i class="ri-edit-line"></i>Editar
                        </button>
                        <button routerLink="../aseguradoras/ver/{{row._id}}" mat-menu-item type="button" class="bg-transparent border-none position-relative">
                            <i class="ri-eye-line"></i>Ver
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <tr class="row-empty" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay información para mostrar.</td>
            </tr>
        </mat-table>

        <mat-paginator
        [hidden]="length === 0"
        [length]="length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="itemsPorPage"
        (page)="onChangePage($event)"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-content>
</mat-card>