<app-share-breadcrumb [breadcrumbs]="breadcrumbs"></app-share-breadcrumb>
<mat-card class="mb-25 teggium-card" *ngIf="folio">
    <mat-card-header>
        <div class="teggium-titulo-encabezado">
            <h5 class="teggium-titulo">Generación de formatos<span *ngIf="readonlyModule"
                    class="title-readonlyModule">Modo consulta</span></h5>
            <app-fnz-encabezado [folio]="folio.folio"></app-fnz-encabezado>
            <app-fnz-flujo-consulta *ngIf="readonlyModule" [flujoConsulta]="folio.flujoConsulta">
            </app-fnz-flujo-consulta>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="mt-4">
                <h5 class="text-end">Formatos</h5>
            </div>
            <mat-table *ngIf="documentosFIC" class="table-general" mat-table [dataSource]="documentosFIC">
                <mat-header-row *matHeaderRowDef="displayedColumnsFIC"></mat-header-row>
                <mat-row *matRowDef="let row; let i = index; columns: displayedColumnsFIC;"></mat-row>
                <ng-container matColumnDef="url">
                    <mat-header-cell *matHeaderCellDef>Archivo</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button class="btn" (click)="download(row)">
                            <mat-icon>download</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="documento" matColumnDisplay="false">
                    <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
                    <mat-cell *matCellDef="let row; let index = index" class="border-active">
                        {{row.documento}}
                    </mat-cell>
                </ng-container>
           
            </mat-table>
            <app-fnz-shared-upload *ngIf="!readonlyModule" [documentos]="this.catalogos!.documento" [titular]="folio.titular"
                [aseguradora]="folio.aseguradoraId" (updateEventUploadEmitter)="updateEventUploadFile($event)"  (updateEventResponseEmitter)="updateEventResponseFile($event)">
            </app-fnz-shared-upload>
        </div>

        <form [formGroup]="frmComentario">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estatus">
                            <mat-option *ngFor="let estatus of estatus" [value]="estatus.clave">
                                {{estatus.descripcion}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matPrefix>
                            <span class="material-symbols-outlined">toggle_off</span>
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Comentarios</mat-label>
                        <textarea matInput placeholder="Comentarios" formControlName="comentarios" rows="2" spellcheck="true"></textarea>
                        <mat-icon matPrefix>comment</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <br />

        <div class="row">
            <div class="col-md-12 text-center text-md-end">
                <div class="col-12 text-center text-md-end">
                    <button type="button" (click)="return()" class="btn btn-danger mx-1">
                        Cancelar
                    </button>
                    <button *ngIf="!readonlyModule" class="btn btn-primary" (click)="saveData()"
                        [disabled]="frmComentario.invalid">Continuar</button>
                </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>