<div class="wrapper-login">
  <img
    src="assets/images/logos/logo-teggium-dark.svg"
    class="logo"
    alt="logo"
  />
  <div class="form-holder">
    <form
      class="form"
      autocomplete="off"
      [formGroup]="frmLogin"
      (ngSubmit)="getToken()"
    >
      <div class="row mb-3">
        <div class="text-center">
          <h3>Bienvenido</h3>
        </div>
      </div>
      <div class="form-group">
        <p>Debe seleccionar un <strong>rol</strong> para poder continuar:</p>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="rol">
            <mat-option *ngFor="let item of roles" [value]="item._id">
              {{ item.descripcion }}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix
            ><span class="material-symbols-outlined">shuffle</span></mat-icon
          >
        </mat-form-field>
      </div>
      <div class="form-group-button">
        <button [disabled]="frmLogin.invalid">Continuar</button>
      </div>
    </form>
  </div>
</div>
